html
  head
    title!= Sample
    meta(charset='utf-8')
    script(src='/js/react.js')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
  body
    #container.container!= Content
    script(src='/build/bundle.js')
